{% extends "base.html" %}
{% block title %}Välj nytt lösenord{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white dark:bg-gray-800 a11y:card p-6 rounded shadow">
    <h1 class="text-2xl font-bold dark:text-gray-100 mb-4">Välj nytt lösenord</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"
                class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:ring-2 focus:ring-blue-400">
            Spara nytt lösenord
        </button>
    </form>
</div>
{% endblock %}
